<div class='d-flex flex-column align-items-center'>
  <h2>Edit Line</h2>
  <div class="card p-2" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Product: <%= @order_line_form.product.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= format('$ %0.02f', @order_line_form.product.price) %></h6>
      <p class="card-text"><%= @order_line_form.product.description %></p>
      <%= form_for @order_line_form, url: customer_order_line_form_path(id: @order_line_form.id), method: :patch do |form| %>
        <div class="field mb-3">
          <%= form.hidden_field :product_id, value: @order_line_form.product.id %>
          <%= form.label :quantity, class:'form-label' %>
          <%= form.text_field :quantity, class: 'form-control' %>
          <div class='mt-3'>
            <% unless @order_line_form.errors.messages_for(:quantity).empty? %>
              <% @order_line_form.errors.messages_for(:quantity).each do |message| %>
                <p class='text-danger fw-semibold'>* <%= message %></p>
              <% end %>
            <% end %>
            <% if flash[:error] %>
              <div class="alert alert-danger py-2" role="alert">
                <%= flash[:error] %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="d-grid mb-3">
          <%= form.submit 'Update line', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>