<div class='d-flex flex-column align-items-center'>
  <h2>New Product</h2>
  <div class='col-sm-4 col-md-4 col-lg-4'>
    <%= form_for @product_form, url: admin_product_forms_path, method: :post do |form| %>
      <% if flash[:error] %>
        <div class="alert alert-danger pb-1" role="alert">
          <ul>
            <%= decorate(ErrorForm.new('error')).list_errors(flash[:error]) %>
          </ul>
        </div>
      <% end %>
      <div class="field mb-3">
        <%= form.label :sku, class:'form-label' %>
        <%= form.text_field :sku, class: 'form-control' %>
      </div>
      <div class="field mb-3">
        <%= form.label :name, class:'form-label' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
      <div class="field mb-3">
        <%= form.label :description, class:'form-label' %>
        <%= form.text_area :description, class: 'form-control' %>
      </div>
      <div class="field mb-3">
        <%= form.label :price, class:'form-label' %>
        <em> ( in cents )</em>
        <%= form.text_field :price, class: 'form-control' %>
      </div>
      <div class="field mb-3">
        <%= form.label :stock, class:'form-label' %>
        <%= form.text_field :stock, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.label :image, class:'form-label' %>
        <%= form.file_field :image, class:"form-control" %>
      </div>

      <div class="d-grid mb-3">
        <%= form.submit 'Create Product',class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
