<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to the new site</title>
  </head>
  <body>
    <div>
      <h2>Purchase Details</h2>
      <% @order.order_lines.each do |line| %>
        <h3><%= line.product.name %></h3>
        <p><%= line.product.description %></p>
        <p> Price: &nbsp;&nbsp;&nbsp;&emsp; <%= format('$ %0.02f', line.price/100) %></p>
        <p> Quantity: &nbsp;&nbsp;&emsp; <%= line.quantity %></p>
        <p> Subtotal &emsp; <%= format('$ %0.02f', line.total/100) %></p>
      <% end %>
      <h3> Total: &emsp;&emsp;<%= format('$ %0.02f', @order.total/100) %> </h3>
    </div>
  </body>
</html>