<h1>Current Cart</h1>
<p> <%= notice %></p>
<div>
  <ul>
    <% @cart.order_lines.each do |order_line| %>
      <li>
        <div>
          <h3>
            <%= order_line.product.name %>
          </h3>
          <p>
            <%= order_line.quantity %>
          </p>
          <p>
            $ <%= order_line.price %>
          </p>
          <p>
            Subtotal: $ <%= order_line.total %>
          </p>
          <%= link_to 'Edit', edit_order_line_path(order_line) %>
        </div>
      </li>
    <% end %>
  </ul>
  <h4>Total: $ <%= @cart.calculate_total %></h4>
</div>