<div>
  <% if commentable.comments.empty? %>
    <h4>No Comments</h4>
  <% else %>
    <h4>Comments</h4>
    <% commentable.pending_comments_of_user(current_user).each do |comment| %>
      <hr>
      <p><%= comment.description %></p>
      <p>By <%= comment.user.first_name %></p>
      <p><%= time_ago_in_words(comment.created_at) %></p>
      <p>Status: <%= comment.status.capitalize %></p>
    <% end %>
    <% commentable.aproved_comments_of_produc.each do |comment| %>
      <hr>
      <p><%= comment.description %></p>
      <p>By <%= comment.user.first_name %></p>
      <p><%= time_ago_in_words(comment.created_at) %></p>
    <% end %>
  <% end %>
</div>