<div class='d-flex flex-column align-items-center'>
  <h2 class='mb-4'>Add to SHopping Cart</h2>
  <div class="card p-2" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Product: <%= @product.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted">$ <%= @product.price %></h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <%= form_with model: [@product, @order_line] do |form| %>
        <%= form.hidden_field :price, value: @product.price %>
        <div class="field mb-3">
          <%= form.label :quantity, class:'form-label' %>
          <%= form.text_field :quantity, class: 'form-control' %>
        </div>
        <div class="d-grid mb-3">
          <%= form.submit 'Add Product', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>