<h1>Products</h1>
<%= form_with url: '/search', method: :get do |form| %>
  <%= form.text_field :search, placeholder: 'Name of product', require: true %>
  <%= form.submit 'Search Product' %>
<% end %>
<% if current_user.nil? || current_user&.customer? %>
  <% if @virtual_order %>
    <%= link_to 'Show shopping cart', show_cart_path, style: 'display: block' %>
  <% end %>
<% else %>
  <%= link_to 'New Product', new_admin_product_path %>
<% end %>
<div>
  <ul>
    <% @products.each do |product| %>
      <li>
        <div>
          <p>
            <%= product.sku %>
          </p>
          <h2>
            <%= product.name %>
          </h2>
          <p>
            <%= product.description %>
          </p>
          <p>
            $ <%= product.price %>
          </p>
          <%= link_to 'Show', product %>
          <% if current_user&.admin? %>
            <%= link_to 'Edit', edit_admin_product_path(product) %>
            <%= button_to 'Delete', admin_product_path(product), method: :delete %>
          <% else %>
            <%= link_to 'Add to cart', new_product_order_line_path(product) %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>