<div class="position-relative py-5">
  <div class="col-lg-6 position-absolute top-50 start-50 translate-middle">
    <%= form_with url: '/search', method: :get, class:"d-flex", role:"search" do |form| %>
      <%= form.text_field :search, placeholder: 'Name of product', require: true, class:"form-control me-2", type:"search", 'aria-label':"Search" %>
      <%= form.submit 'Search', class:"btn btn-outline-success" %>
    <% end %>
  </div>
</div>
<h1>Products</h1>
<% if policy(ChangeLog).index? %>
  <%= link_to 'Change Log', admin_change_logs_path %>
<% end %>
<% if current_user.nil? || current_user&.customer? %>
  <% if session[:order_id] %>
    <%= link_to 'Show shopping cart', @virtual_order, style: 'display: block' %>
  <% end %>
<% end %>
<% if policy(Product).new? %>
  <%= link_to 'New Product', new_admin_product_path %>
<% end %>
<div>
  <ul>
    <% @products.each do |product| %>
      <li>
        <div>
          <p>
            <%= product.sku %>
          </p>
          <h2>
            <%= product.name %>
          </h2>
          <p>
            <%= product.description %>
          </p>
          <p>
            $ <%= product.price %>
          </p>
          <%= link_to 'Show', product, style: 'display: block' %>
          <% if policy(Like).create? %>
            <% if product.likes.where(user_id: current_user.id).take %>
              <%= button_to 'Dislike', [:customer, product.likes.where(user_id: current_user.id).take], method: :delete %>
            <% else %>
              <%= button_to 'Like', customer_likes_path(product_id: product.id) %>
            <% end %>
          <% end %>
          <% if policy(product).edit? %>
            <%= link_to 'Edit', edit_admin_product_path(product) %>
          <% end %>
          <% if policy(product).destroy? %>
            <%= button_to 'Delete', admin_product_path(product), method: :delete %>
          <% end %>
          <% if policy(OrderLine).new? %>
            <%= link_to 'Add to cart', new_product_order_line_path(product) %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>