<p>
  <%= @comment_product_form.commentable.sku %>
</p>
<h1><%= @comment_product_form.commentable.name %></h1>
<p>
  <%= @comment_product_form.commentable.description %>
</p>
<p>
  <div class='d-flex gap-2'>
    Tags: 
    <% if @comment_product_form.commentable.tags.empty? %>
      No tags assigned
    <% else %>
      <% @comment_product_form.commentable.tags.each do |tag| %>
        <div><%= tag.name %></div>
      <% end %>
    <% end %>
  </div>
</p>
<p>
  $ <%= @comment_product_form.commentable.price %>
</p>
<p>
  Stock: <%= @comment_product_form.commentable.stock %>
</p>
<p>
  Rate: <%= @comment_product_form.rate&.value || 'No rated' %>
</p>
<% if current_user&.admin? %>
  <div class='mb-3'>
    <h4>Add tags</h4>
    <div>
      <%= form_with url: add_tag_admin_product_path(@comment_product_form.commentable) do |f|%>
        <%= f.collection_select :tag_id, (Tag.all - @comment_product_form.commentable.tags), :id, :name, include_blank: "-- Select Tag" %>
        <%= f.submit "Add Tag", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>
<h4>Add a comments</h4>
<div data-turbo='false'>
  <%= form_for @comment_product_form, url: customer_comment_product_forms_path do |form| %>
    <div class="field mb-3">
      <%= form.hidden_field :product_id, value: @comment_product_form.commentable.id %>
      <%= form.text_area :description, class: 'form-control' %>
      <div class='mt-3'>
        <% unless @comment_product_form.errors.messages_for(:description).empty? %>
          <% @comment_product_form.errors.messages_for(:description).each do |message| %>
            <p class='text-danger fw-semibold'>* <%= message %></p>
          <% end %>
        <% end %>
      </div>
      <%= form.label :rate_value, 'Rate', class:'form-label' %>
      <em>(If you want you could rate or update your rate)</em>
      <%= form.text_field :rate_value, class: 'form-control' %>
      <div class='mt-3'>
        <% unless @comment_product_form.errors.messages_for(:rate_value).empty? %>
          <% @comment_product_form.errors.messages_for(:rate_value).each do |message| %>
            <p class='text-danger fw-semibold'>* <%= message %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="d-grid mb-3">
      <%= form.submit 'Add Comment', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<% if current_user && ( current_user.admin? || current_user.support? ) %>
  <%= render 'admin/comments/comments', commentable: @comment_product_form.commentable %>
<% elsif current_user && current_user.customer? %>
  <%= render 'customer/comments/comments', commentable: @comment_product_form.commentable %>
<% else %>
  <%= render 'comments/comments', commentable: @comment_product_form.commentable %>
<% end %>