<!DOCTYPE html>
<html>
  <head>
    <title>InventoryApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 mb-5">
        <div class="container">
          <%= link_to products_path, class:"navbar-brand" do %>
            STORE APP
          <% end %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to '#', class:"nav-link active" do %>
                    <%= current_user.first_name %>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete }, class:"nav-link" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'Sign in', new_user_session_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Sign up', new_user_registration_path, class:"nav-link" %>  
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class='container d-flex align-items-center'>
      <% if notice %>
        <div class="alert alert-success py-2" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-success py-2" role="alert">
          <%= alert %>
        </div>
      <% end %>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
